<!Doctype html>
<html lang=en>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
                <form class="form-route">
                    <h2 class="form-signin-heading">Route in Amsterdam</h2>
                    <label for="inputStart" class="sr-only">Start</label>
                    <input type="start" id="inputStart" class="form-control" placeholder="Starting location" required autofocus>
                    <label for="inputDestination" class="sr-only">Destination</label>
                    <input type="destination" id="inputDestination" class="form-control" placeholder="Destination" required>
                <button class="btn btn-lg btn-primary" type="submit">Locate my Route</button>
                </form>
            </div>
          <div class="col-md-4"></div>
        </div>
    </body>
</html>
