<!Doctype html>
<html lang=en>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row col-xs-12">
                <form>
                    <div class="form-control">
                        <label for="start">From</label>
                        <input type=text id="start">
                    </div>
                    <div class="form-control">
                        <label for="dest">To</label>
                        <input type=text id="dest">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
